@tailwind base;
@tailwind components;
@tailwind utilities;
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .center-screen button {
    margin-top: 20px;
  }
  